body {
    background-color: lightskyblue;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
}

canvas {
    background-color: deepskyblue;
    margin: auto;
    border-radius: 3rem;
}